---
import Base from '../layouts/Base.astro';
import ExtensionCard from '../components/ExtensionCard.astro';
import { extensionData } from '../data/extensions';

const extensions = extensionData;
---

<Base title="FOSSBilling Extensions">
  <p class="text-muted-foreground mb-6">
    Welcome to the FOSSBilling Extension Directory. Handy with React and want to
    contribute?{' '}
    <a
      href="https://github.com/FOSSBilling/extension-directory"
      target="_blank"
      rel="noopener noreferrer"
      class="btn-ghost btn-sm"
    >
      Check out the source code on GitHub
    </a>
    {' '}.
  </p>
  <p class="text-muted-foreground mb-8">
    Please note that only extensions that can be auto-installed from within
    FOSSBilling are included in the directory at this time. For a list of other
    working extensions i.e. Registration modules please{' '}
    <a
      href="https://fossbilling.org/docs/extensions"
      target="_blank"
      rel="noopener noreferrer"
      class="btn btn-ghost btn-sm"
    >
      see here
    </a>
    {' '}.
  </p>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6"
  >
    {extensions.map((ext) => <ExtensionCard ext={ext} />)}
  </div>
</Base>
